{% if app.session.flashbag.keys() | length > 1 %}
<div class="alert alert-info outer-container">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<div class="inner-container">
		{% for type, messages in app.session.flashbag.all() %}
            {% for key, message in messages %}
				<div class="alert alert-{{ type }}">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ message|trans({}, 'FOSUserBundle') }}
				</div>
            {% endfor %}
        {% endfor %}
	</div>
</div>
{% elseif app.session.flashbag.keys() | length > 0 %}
{% for type, messages in app.session.flashbag.all() %}
    {% for key, message in messages %}
		<div class="alert alert-{{ type }} outer-container">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message|trans({}, 'FOSUserBundle') }}
		</div>
    {% endfor %}
{% endfor %}
{% endif %}
