parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     **ChangeMe**
    database_user:     **ChangeMe**
    database_password: **ChangeMe**

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            **ChangeMe**

    erm.model_file:    /app/model/entities.erm
