{% extends '::base.html.twig' %}

{% block title %}Inquiry - new{% endblock %}



{% block body -%}
    <h1>Inquiry creation</h1>

    <form action="{{ path('inquiry_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('inquiry') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
