<form class="form-inline map-search" action="{{ path('search', { '_format': 'json' }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <button type="submit">Search</button>
</form>
