@CHARSET "UTF-8";

.alert.outer-container {
    position: absolute;
    right: 20px;
    max-width: 25%;
    min-width: 150px;
}

.alert .inner-container {
    padding-top: 35px;
}

ul.record_actions,
ul.btn-group
 {
	list-style: none;
	margin-left: 0;
}

ul.record_actions li,
ul.btn-group li {
    float: left;
    padding-right: 10px;
}

form.form-inline div {
	display: inline;
}

td ul.btn-group {
    margin: 0;
}

td ul.btn-group form {
    margin: 0;
}
