{% extends '::base.html.twig' %}

{% block title %}INSIGHT - {{ 'legal.headline'|trans }}{% endblock %}

{% block body %}

<h1>{{ 'legal.headline'|trans }}</h1>

<p>{{ 'legal.text'|trans }}</p>

{% endblock %}
