{% extends '::base.html.twig' %}

{% block title %}INSIGHT - {{ 'about.headline'|trans }}{% endblock %}

{% block body %}

<h1>{{ 'about.headline'|trans }}</h1>

<p>{{ 'about.text'|trans }}</p>

{% endblock %}
