<ul class='record_actions' style='float: left; padding-right: 2em; margin-right: 2em; border-right: 1px solid black;'>
  <li><a href="{{ path('inquiry') }}">Inquiry</a></li>
  <li><a href="{{ path('offer') }}">Offer</a></li>
  <li><a href="{{ path('profile') }}">Profile</a></li>
  <li><a href="{{ path('user') }}">User</a></li>
</ul>
